/* reset */
.paginator button {
  border: none;
  cursor: pointer;
}

.paginator button, .paginator input:focus,
.paginator button, .paginator input:active {
  outline: none;
}

.paginator button:disabled {
  cursor: auto;
}

/* paginator */
.paginator {
  width: 100%;
  height: 22px;
  margin-right: 16px;
  margin-bottom: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.paginator-pages {
  margin: 0 20px;
  display: flex;
  justify-content: center;
}

.paginator .button-prev {
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(255, 255, 255, 0.5);
  width: 68px;
  height: 22px;
  padding-bottom: 2px;
  border-radius: 2px;
  font-family: SFProDisplay;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.paginator .button-next {
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(255, 255, 255, 0.5);
  width: 68px;
  height: 22px;
  padding-bottom: 2px;
  border-radius: 2px;
  font-family: SFProDisplay;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.paginator .button-page {
  margin: 0px 3.5px;
  padding: 0px;
  background-color: inherit;
  color: rgb(255, 255, 255, 0.5);
  font-family: SFProDisplay;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.paginator .page-active {
  color: #00f6d2;
}
